.dialContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
}

.dial {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  position: relative;
  background: rgb(96, 96, 96);
  background: radial-gradient(
    circle,
    rgba(96, 96, 96, 1) 35%,
    rgba(40, 40, 40, 1) 100%
  );
  border: 1px solid rgb(33, 33, 33);
  cursor: default;
  z-index: -1;
}

.finger {
  width: 3px;
  height: 50px;
  background-color: #1bd5ff;
  user-select: none;
  translate: 0 -6px;
}

.dialAndName {
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  color: white;
  gap: 1rem;
}

.value {
  display: none;
}

.dialAndName:hover .name {
  display: none;
}

.dialAndName:hover .value {
  display: initial;
  color: #1bd5ff;
}

.isClicked .name {
  display: none;
}

.isClicked .value {
  display: initial;
  color: #1bd5ff;
}
