.display {
  display: flex;
  color: var(--blue);
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.379);
  padding: 0.3rem 0.5rem;
  border-radius: 6px;
  border: var(--border);
}

.bpm {
  background: transparent;
  font-size: 1.6rem;
  font-weight: bold;
  border: none;
  max-width: 70px;
  text-align: center;
  color: var(--blue);
}

.label {
  margin-top: -2px;
  opacity: 0.5;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
