:root {
  font-size: 16px;
  --blue: #1bd5ff;
  --border: solid rgb(85, 80, 100) 2px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2c293e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
