.meterContainer {
  border-radius: 30px;
  height: 30px;
  border: solid rgb(85, 80, 100) 2px;
  overflow: hidden;
  position: relative;
}

input[type="range"].meterInputHTML {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
  position: absolute;
  pointer-events: none;
}

input[type="range"].meterInputHTML::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"].meterInputHTML:focus {
  outline: none;
}

input[type="range"].meterInputHTML::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"].meterInputHTML::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 26px;
  background: rgb(96, 96, 96);
  background: radial-gradient(
    circle,
    rgba(96, 96, 96, 1) 80%,
    rgba(40, 40, 40, 1) 100%
  );
  width: 26px;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -2px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  pointer-events: all;
}
